:root {
  --sectionMargin: 100px auto;
  --sectionWidth: 90%;
  --heading: rgba(0, 0, 0, 0.8);
  --content: rgba(0, 0, 0, 0.8);
  --bopac: rgba(50, 47, 126, 0.1);
  --popac: rgba(235, 12, 119, 0.1);
}
body {
  background: #fff;
}

section#about-header {
  width: 100%;
  height: auto;
  margin: var(--sectionMargin);
  padding: 2rem 5rem !important;
  /* background: var(--pink); */
}

#about-header .abt-content {
  padding-right: 2rem;
}
#about-header h1 {
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--heading);
}

#about-header h1 .text-1 {
  color: var(--dblue);
}

#about-header h1 .text-2 {
  color: var(--pink);
}

#about-header h1::before {
  content: "";
  position: absolute;
  top: -2%;
  left: 1.5%;
  width: 15%;
  height: 10px;
  border-radius: 30px;
  background: var(--dblue);
}

#about-header p {
  text-align: justify;
  color: var(--content);
}

.abt-princi-img {
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

.right-img-abt {
  display: flex;
  flex-direction: column;
}
.right-img-abt .princi-name {
  margin-top: 1rem;
}

.right-img-abt small {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

/* Genres */
section#genres {
  /* background: red; */
  /* width: var(--sectionWidth); */
  width: 100%;
  margin: var(--sectionMargin);
}
#genres h2 {
  position: relative;
  margin-bottom: 2rem;
  font-weight: bold;
}
#genres h2::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  width: 15%;
  height: 10px;
  border-radius: 30px;
  background: var(--dblue);
}
/* section montessori   */
.mont {
  width: 100%;
  height: 80vh;
  margin: var(--sectionMargin);
  /* background: pink; */
}
.mont {
  position: relative;
  /* padding-left: 5rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mon-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  background: var(--pink);
  width: 40%;
  height: 100%;
}
.mont:nth-child(2) .mon-wrapper {
  left: 0 !important;
  background: var(--dblue);
}
.mon-content,
.sec-content {
  flex-basis: 35%;
}
.mon-content p,
.sec-content p {
  text-align: justify;
}
.mon-img-content,
.sec-img-content {
  flex-basis: 60%;
  width: 100%;
  height: 100%;
}
.mont-img,
.seconday-img {
  position: relative;
  top: 7%;
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

/* .curri h2,
.mont h2,
.secondary h2 {
  margin-top: 2rem;
} */

/* mission vision  */
section#mission-vision {
  width: var(--sectionWidth);
  margin: var(--sectionMargin);
  /* background: pink; */
  height: auto;
}

#mission-vision h1 {
  font-weight: bold;
}

#mission-vision h1::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 15%;
  height: 10px;
  border-radius: 30px;
  background-color: var(--pink);
}
.inner-margin {
  margin: 2rem 3rem;
}
.couple-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin: 3rem 0;
}
.div-one {
  flex-basis: 48%;
  background: var(--dblue);
  padding: 3rem 2rem;
}
.div-one p {
  color: #fff;
}
.div-two {
  flex-basis: 48%;
  background: var(--bopac);
  padding: 3rem 2rem;
}
.div-two p {
  color: var(--dblue);
}
.pink {
  background: var(--pink);
}
.pink-opac {
  background: var(--popac);
}
.pink-opac p {
  color: var(--pink);
}
