:root {
  --pink: #eb0c77;
  --dpink: #891c54;
  --logoFont: #e42c89;
  --purple: #322f7e;
  --orange: #f58420;
  --blueShade: #6795bd;
  --dblue: #2a3a7b;
  --yellow: #f5e45c;
  --bgShade: #d7f3fb;
  --pinkAlpha: rgba(235, 12, 119, 0.7);
  --zDepth1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --zDepth1bs: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  --zDepth2: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
  --zDepth2bs: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
@import url("https://fonts.googleapis.com/css?family=Ovo&display=swap");
.row {
  margin-left: 0;
  margin-right: 0;
}

.page-cont-wrapper {
  width: 90%;
  height: auto;
  margin: auto;
}

.leaf-over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1);
  opacity: 0.1;
  z-index: -1;
}
.f-ovo {
  font-family: "Ovo", serif;
}
header#masthead {
  position: absolute;
  top: 70px;
  background: transparent;
  z-index: 20;
}
.page-section {
  padding: 0 !important;
}
/*refractor changes*/

/* modal  */
#modal-content {
  z-index: 100;
}
#modal-content .modal-body {
  padding: 0 !important;
}
#modal-content .modal-body img {
  width: 100%;
  height: auto;
  max-height: 95vh;
}

#modal-content .modal-footer {
  justify-content: center;
}
#modal-content .modal-body button {
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--pink);
  opacity: 0.8;
}

body {
  /* background: #FEFEFE !important; */
  background: #fff;
}

.container .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

/* Hero Section */
#top-bar {
  max-width: 100% !important;
}
#top-bar li {
  font-weight: 100;
}
#top-bar.col-2 .widget {
  float: right !important;
}

.base-pink {
  color: #eb0c77;
}
.base-blue {
  color: rgb(77, 109, 230);
}
/* #demo{
    max-width: 100%;
} */

#hero-sec {
  max-height: 90vh !important;
  max-width: 100% !important;
  background: var(--bgShade);
}

.carousel-caption {
  /* background: rgba(255, 255, 255, 0.7); */
  padding: 20px 0 0 7rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4),
    transparent,
    transparent,
    transparent
  );

  position: absolute;
  top: 0 !important;
  left: 0 !important;
  height: 100%;

  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center; /*verticle alignments */
  align-items: flex-start; /*horizontal alignments */
  /* clip-path: polygon(0 0, 75% 0, 50% 100%, 0% 100%); */
}
.two-sec-p .part-img {
  max-height: 55vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(1.1);
  padding: 0;
}
.two-sec .part-img {
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(1.1);
  padding: 0;
}
.two-sec .part-img .fr-overlay h2 {
  color: #fff;
  text-align: center;
  width: 60%;
  font-size: 2rem;
}
.two-sec-p .part-desc {
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 15rem 0 5rem;
}
.fr-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(77, 109, 230, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fr-overlay img {
  width: 20%;
  margin-bottom: 1rem;
}
.two-sec .part-desc-right {
  max-height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  padding: 0rem 1rem;
}
.two-sec-p .part-desc p {
  font-size: 1.25rem;
  color: #2a3a7b;
  font-weight: 100;
}
.two-sec .part-desc-right .col-md-6 {
  padding: 0 0.5rem;
  max-height: 20vh;
}
.two-sec .part-desc-right p {
  padding: 0 5rem 5rem 15rem;
}
.carousel-caption h5 {
  position: relative;
  font-size: 4rem;
  line-height: 4rem;
  max-width: 50%;
  color: #fff;
  display: inline-block;
  /* margin-right: 20px; */
  text-align: left;
  /* margin-right: 20px; */
}
.carousel-caption h5 strong {
  color: #fff;
}
.carousel-item .carousel-caption > h5:nth-of-type(even) {
  color: var(--pink);
}

.carousel-caption p {
  font-size: 1.3rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-top: 2rem;
  /* background: red; */
  padding-right: 30rem;
  text-align: left;
}

.carousel-caption a {
  background: var(--pink);
  border: none;
  height: 4rem;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.carousel .carousel-inner {
  /* position: relative; */
  width: 100%;
  height: 90vh !important;
  /* background: red; */
}
.carousel .carousel-inner .carousel-item {
  /* position: relative; */
  width: 100% !important;
  height: 100% !important;
  /* background: pink; */
}

.carousel-item .banner {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: contrast(1.3);
  height: 90vh !important;
}

.carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
}

.carousel .carousel-control-prev,
.carousel-control-next {
  top: 85% !important;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  /* color: red !important; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.carousel .carousel-control-next {
  right: 80px !important;
  color: var(--dblue);
}

.carousel-control-prev {
  right: 150px !important;
  left: auto;
}
.fr-black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    #00000087 10%,
    transparent,
    transparent,
    transparent
  );
}
/* Hero Section End  */
.fr-act-card {
  text-align: center;
  margin: 15px 0;
}
.fr-news-card {
  text-align: center;
  padding: 0 0 2rem 0 !important;
  margin: 0 15px;
}
.fr-news-card h4,
.fr-news-card p {
  padding: 0 2rem;
}
.l-event {
  margin-bottom: 2rem;
}
.fr-news-card:hover {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.tab-content {
  padding: 3rem 0;
}
#primary.content-area {
  width: 100% !important;
  max-width: 100%;
  padding: 5rem 0;
}
/* Starting of message section  */
#page-site-header {
  padding: 12rem 0 !important;
}
#message-from-principle {
  background: #fff;
  margin-bottom: 150px;
  /* background: red; */
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: -5;
  overflow: hidden;
}
.message-content {
  position: relative;
  padding: 6rem !important;
  width: 70%;
  height: 100%;
  /* background: pink; */
}
.message-content h1 {
  position: relative;
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: bold;
}

.message-content h1::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  background: var(--dblue);
  width: 10rem;
  height: 10px;
  border-radius: 30px;
}
.message-content p {
  width: 85%;
  height: auto;
  /* background: yellow; */
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.9);
  text-align: justify;
  margin-top: 1.5rem;
}

.half-bg {
  /* position: absolute;
    right: 0;
    top: 0; */
  position: relative;
  width: 30%;
  height: 100%;
  /* background: var(--purple); */
  background: linear-gradient(
      285deg,
      rgba(57, 57, 57, 0.04) 0%,
      rgba(57, 57, 57, 0.04) 25%,
      rgba(126, 126, 126, 0.04) 25%,
      rgba(126, 126, 126, 0.04) 50%,
      rgba(80, 80, 80, 0.04) 50%,
      rgba(80, 80, 80, 0.04) 75%,
      rgba(117, 117, 117, 0.04) 75%,
      rgba(117, 117, 117, 0.04) 100%
    ),
    linear-gradient(
      333deg,
      rgba(26, 26, 26, 0.04) 0%,
      rgba(26, 26, 26, 0.04) 25%,
      rgba(154, 154, 154, 0.04) 25%,
      rgba(154, 154, 154, 0.04) 50%,
      rgba(218, 218, 218, 0.04) 50%,
      rgba(218, 218, 218, 0.04) 75%,
      rgba(91, 91, 91, 0.04) 75%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(
      45deg,
      rgba(14, 14, 14, 0.04) 0%,
      rgba(14, 14, 14, 0.04) 25%,
      rgba(216, 216, 216, 0.04) 25%,
      rgba(216, 216, 216, 0.04) 50%,
      rgba(44, 44, 44, 0.04) 50%,
      rgba(44, 44, 44, 0.04) 75%,
      rgba(111, 111, 111, 0.04) 75%,
      rgba(111, 111, 111, 0.04) 100%
    ),
    linear-gradient(
      251deg,
      rgba(27, 27, 27, 0.04) 0%,
      rgba(27, 27, 27, 0.04) 25%,
      rgba(107, 107, 107, 0.04) 25%,
      rgba(107, 107, 107, 0.04) 50%,
      rgba(167, 167, 167, 0.04) 50%,
      rgba(167, 167, 167, 0.04) 75%,
      rgba(34, 34, 34, 0.04) 75%,
      rgba(34, 34, 34, 0.04) 100%
    ),
    linear-gradient(
      63deg,
      rgba(114, 114, 114, 0.04) 0%,
      rgba(114, 114, 114, 0.04) 25%,
      rgba(16, 16, 16, 0.04) 25%,
      rgba(16, 16, 16, 0.04) 50%,
      rgba(190, 190, 190, 0.04) 50%,
      rgba(190, 190, 190, 0.04) 75%,
      rgba(159, 159, 159, 0.04) 75%,
      rgba(159, 159, 159, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(44, 69, 142), rgb(133, 17, 234));
  /* background: linear-gradient(44deg, rgba(243, 243, 243, 0.05) 0%, rgba(243, 243, 243, 0.05) 33.333%,rgba(79, 79, 79, 0.05) 33.333%, rgba(79, 79, 79, 0.05) 66.666%,rgba(9, 9, 9, 0.05) 66.666%, rgba(9, 9, 9, 0.05) 99.999%),linear-gradient(97deg, rgba(150, 150, 150, 0.05) 0%, rgba(150, 150, 150, 0.05) 33.333%,rgba(34, 34, 34, 0.05) 33.333%, rgba(34, 34, 34, 0.05) 66.666%,rgba(40, 40, 40, 0.05) 66.666%, rgba(40, 40, 40, 0.05) 99.999%),linear-gradient(29deg, rgba(56, 56, 56, 0.05) 0%, rgba(56, 56, 56, 0.05) 33.333%,rgba(226, 226, 226, 0.05) 33.333%, rgba(226, 226, 226, 0.05) 66.666%,rgba(221, 221, 221, 0.05) 66.666%, rgba(221, 221, 221, 0.05) 99.999%),linear-gradient(90deg, rgb(163, 238, 211),rgb(149, 75, 252)); */
  /* background: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%,rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%,rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001000000000005%,rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%,rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.33500000000001%,rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%),linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%,rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%,rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%,rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%,rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%,rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%,rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%,rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%,rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%,rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%,rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%),linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%,rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%,rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%,rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%),linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%,rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%),linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%,rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%,rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%,rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%,rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.42999999999999%,rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.71600000000001%,rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%),linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%,rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%,rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%,rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%,rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.42999999999999%,rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.71600000000001%,rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%),linear-gradient(90deg, rgb(168, 1, 206),rgb(20, 120, 203)); */
  z-index: -2;
}
.princi-img {
  position: relative;
  top: 17%;
  left: -45%;
  width: 32rem;
  height: 32rem;
  background-position: center;
  /* background-origin: content-box; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.princi-name {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  display: inline-block;
}

.princi-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--pink);
  /* opacity: 0.1; */
  z-index: -1;
}

/* image grid start  */

section#img-grid {
  /* background : #f2f2f2; */
  /* opacity: ; */
  height: 100vh;
  /* height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20rem 0 !important; */
}

#img-grid .container-fluid {
  position: relative;
  height: inherit;
}
.i-grid-row {
  height: inherit !important;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* opacity: 0.8; */
}
/* #img-grid .inner-container{
    width: 100% !important;
    height: 100% !important;
} */

.grid-img {
  width: 400px !important;
  height: 100% !important;

  position: relative;
  /* background: var(--blueShade); */
}

/* .circle{
    position: absolute;
} */

/* Left Side Circle  */

/* Large Circle  */

.circle-big {
  /* position: absolute !important; */
  overflow: hidden;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  /* background: red !important; */

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.circle-big:nth-child(1) {
  top: 15rem !important;
  left: 50% !important;
}
.circle-big:nth-child(2) {
  top: 33rem;
  right: 2rem;
}

/* Medium Circle  */
.circle-md {
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  /* background: red !important; */

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.circle-big img {
  height: 100%;
  width: auto;
}
.circle-md img {
  height: 100%;
  width: auto;
}
.circle-md:nth-child(1) {
  top: 5rem;
  right: 2rem;
}
.circle-md:nth-child(2) {
  top: 11rem;
  left: 2rem;
}

.circle-md:nth-child(3) {
  top: 28rem;
  left: 3rem;
}

.circle-md,
.circle-big {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.circle-md:hover,
.circle-big:hover {
  transform: scale(1.1);
}
.circle-md,
.circle-big {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.block-sec {
  height: 70vh;
  filter: contrast(1.5);
  margin-top: 2rem;
}
/* Mid Content  */
.mid-text {
  /* width: 100%;
    height: 100% !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 5rem; */
}

.mid-text h1 {
  position: relative;
  /* padding-top: 5rem; */
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
}

.mid-text h1:before {
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 2px;
  border-radius: 30px;
  background-color: var(--dblue);
}

.mid-text p {
  font-size: 1.2rem;
  margin-top: 5rem;
  text-align: center;
  font-weight: 100;
  color: #000;
  /* color: rgba(0, 0, 0, 0.8); */
}

/* Right Side Circle  */

.right-grid .circle-md:nth-child(1) {
  top: 5rem;
  left: 2rem;
}
.right-grid .circle-md:nth-child(2) {
  top: 11rem;
  left: auto;
  right: 2rem;
}

.right-grid .circle-md:nth-child(3) {
  top: 28rem;
  left: auto;
  right: 3rem;
}
/* Right Big  */
.right-grid .circle-big:nth-child(1) {
  top: 15rem !important;
  left: 20% !important;
}
.right-grid .circle-big:nth-child(2) {
  top: 33rem;
  left: 2rem;
}

/* end of image grid  */

/* start of about us  */

section#about-us {
  width: 90%;
  /* background: pink;; */
  height: auto;

  margin: auto;
}

#about-us .container-fluid,
#about-us .container-fluid .about-row {
  height: inherit !important;
}

.school-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.place {
  position: relative;
  width: 40% !important;
  height: 100% !important;

  /* background-color: pink; */
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.place:hover {
  transform: scale(1.1);
}
.place-overlay {
  position: absolute;
  bottom: 0;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0% 100%);
  background: var(--pinkAlpha);
  /* opacity: 0.5; */
  width: 100%;
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .place::after{
    content: 'College';
    color: #000;
    bottom: -10px;
    
    width: 500px;
    height: 20px;
    background: #ccc;
} */

.about-banner {
  padding-left: 5rem;
}
.about-banner h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.about-banner p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  position: relative;
  padding-right: 5rem;
  text-align: justify;
  margin-bottom: 3rem;
  margin-left: 4rem;
}

.about-banner p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2rem;
  width: 5px;
  border-radius: 50px;
  height: 100%;

  background: var(--pink);
}

/* news and events  */

section#news-events {
  width: 100%;
  height: auto;
  padding-left: 80px;

  padding-top: 3rem;
  /* background: pink; */
}
#news-events .container-fluid {
  height: inherit !important;
}
#news-heading {
  position: relative;
  margin-bottom: 5rem !important;
}
#news-heading::after {
  content: "";
  position: relative;
  left: 0;
  height: 2px;
  width: 150px;
  border-radius: 30px;
  background: var(--pink);
}
/* #news-events .container-fluid .news-row{
    height: inherit !important;
} */
#news-events h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
.news-card {
  background: #fff;
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;

  /* -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
}
.fr-foot .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  padding-top: 3rem;
}
footer #top-bar {
  max-width: none !important;
  background: transparent;
}
footer #top-bar .wrapper {
  width: auto;
  max-width: none;
}
footer .wrapper .hentry {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .wrapper .widget_address_block ul,
footer .wrapper .widget_social_icons ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
footer .wrapper .social-icons ul li {
  background: #fff;
  border-radius: 50px;
}
footer#colophon #top-bar .widget_address_block ul li,
footer .widget_social_icons ul li {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: auto !important;
  font-size: 1.3rem;
  color: #fff !important;
}
footer#colophon #top-bar .widget_address_block ul li a {
  color: #fff !important;
}
footer#colophon .social-icons ul li a {
  color: #322f7e !important;
}
footer .wrapper .widget_address_block {
  margin-bottom: 1rem !important;
}
footer .wrapper .hentry:first-child {
  margin-bottom: 1rem;
}
footer .widget_social_icons ul li {
  margin: 0px !important;
}
footer .wrapper div.widget {
  width: 100%;
}
.main-navigation ul.nav-menu .current-menu-item > a {
  color: #eb0c77 !important;
  font-size: 1.25rem;
  font-weight: 400;
}
.news-card .news-card-img {
  position: absolute;
  width: 100%;
  height: 58%;
  background-position: center;
  background-size: cover;
  background-origin: center;
}
footer .widget-title {
  display: none;
}
footer ul.menu {
  display: inline-flex;
}
footer ul li {
  margin: 0 0.5rem;
}
.news-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  background: #fff;
  /* justify-content: flex-end; */
}
.news-card .card-content p {
  font-size: 1.5rem;
  color: var(--dblue);
}
.news-card .card-content span {
  margin-right: auto;
}

.news-row {
  margin-top: 1.1rem;
}
/* internal event */

#calender {
  /* background: pink; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
/* #calender::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #fff, 
    rgba(255,255,255,0.5), 
    rgba(0,0,0,0),
    rgba(0,0,0,0));
} */
#calender .event {
  width: 75%;
}
#calender .event a {
  width: 100%;
  height: auto;

  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  transition: 0.3s ease;
}
.event:hover {
  transform: scale(1.09);
  /* 
    -webkit-box-shadow: var(--zDepth2);
    box-shadow: var(--zDepth2bs); */
}
.event .event-date {
  background: var(--pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  /* font-size: 28px; */
  font-size: 1.7rem;
  color: #fff;
  flex-basis: 20%;
}
.event .event-act {
  margin-right: auto;
  padding: 0 0 1rem 2rem;
  flex-basis: 80%;
}

.event .event-act h3 {
  font-weight: bold;
}

/* end of news and events  */

/* isotopic scene   */
.carousel .carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}
section#isotop {
  position: relative;
  height: 110vh;
  margin: 130px 0;
  /* background: var(--pink); */
  /*  background: linear-gradient(250deg, rgba(151, 151, 151, 0.05) 0%,
     rgba(151, 151, 151, 0.05) 33.333%,
     rgba(222, 222, 222, 0.05) 33.333%, 
     rgba(222, 222, 222, 0.05) 66.666%,
     rgba(56, 56, 56, 0.05) 66.666%, 
     rgba(56, 56, 56, 0.05) 99.999%),
     linear-gradient(311deg, 
     rgba(70, 70, 70, 0.05) 0%, 
     rgba(70, 70, 70, 0.05) 33.333%,
     rgba(210, 210, 210, 0.05) 33.333%,
      rgba(210, 210, 210, 0.05) 66.666%,
      rgba(137, 137, 137, 0.05) 66.666%, 
      rgba(137, 137, 137, 0.05) 99.999%),
      linear-gradient(272deg, rgba(106, 106, 106, 0.05) 0%, 
      rgba(106, 106, 106, 0.05) 33.333%,
      rgba(226, 226, 226, 0.05) 33.333%, 
      rgba(226, 226, 226, 0.05) 66.666%,
      rgba(25, 25, 25, 0.05) 66.666%, 
      rgba(25, 25, 25, 0.05) 99.999%),
      linear-gradient(90deg, rgb(159, 18, 219),
      rgb(240, 47, 230));
       */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.iso-img {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.isotop-one {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 350px;

  background-color: red;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.3); */
}
.isotop-two {
  position: absolute;
  top: 15%; /* 143 px */
  left: 0;
  width: 20%;
  height: 600px;
}
.isotop-three {
  position: absolute;
  bottom: -14%;
  right: 10%;
  width: 30%;
  height: 300px;
}
.iso-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  text-align: center;
  line-height: 2rem;
}
.iso-content h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 2rem;
}

.iso-content h2::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  height: 10px;
  border-radius: 30px;
  background: var(--dblue);
}

.iso-content p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}

.iso-content button {
  font-size: 1rem;
}

.iso-content .game-svg {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 20rem;
  height: 20rem;
  background: red;

  background-position: center;
  background-size: cover;
}
/* eof isotopic scene  */

/* footer */

#footer {
  width: 100% !important;
  height: 40vh;
  background: var(--dblue);
  /* border-bottom: 2px solid #fff; */
  padding: 3rem;
}

#footer h3 {
  color: #fff;
  font-weight: bold;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

#footer p,
#footer nav ul li {
  color: #fff;
  font-size: 1.2rem;
  padding-bottom: 15px;
  cursor: pointer;
}
#footer nav ul {
  list-style-type: none;
}
.contact-link {
  width: 80%;
  /* background: red; */
  display: flex;
  flex-direction: column;

  color: #fff;
}

.cl {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.cl i {
  /* padding: 2px; */
  font-size: 1.7rem;

  margin-right: 1.1rem;
}
section#img-grid {
  height: 85vh;
}
/*refractor ends*/

@media screen and (max-width: 1400px) {
  :root {
    font-size: 14px;
  }

  section#img-grid {
    height: 100vh;
  }

  /* carousel session  */
  .carousel-caption p {
    padding-right: 25rem !important;
  }

  /* about school  */
  .about-banner p {
    padding-right: 0;
  }

  /* isotop grid img  */
  .isotop-one {
    width: 400px;
    height: 300px;
  }
  .isotop-two {
    width: 25%;
  }
  .isotop-three {
    bottom: -12%;
    height: 280px;
  }
}

@media screen and (max-width: 991px) {
  :root {
    font-size: 10px;
  }
  body {
    overflow-x: hidden;
  }
  .main-navigation ul.nav-menu > li > a {
    color: #000 !important;
  }
  .carousel-caption {
  }
  #top-bar {
    display: none;
  }
  footer #top-bar {
    display: block;
  }
  header#masthead {
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 20;
  }
  .carousel-caption p {
    padding-right: 25rem !important;
  }
  #page-site-header {
    margin-top: 50px;
    padding: 5rem 0 !important;
  }
  section#img-grid {
    height: auto;
  }

  .i-grid-row {
    display: flex;
    justify-content: column;
  }
  .grid-img {
    width: 100% !important;
    /* height: 25% !important; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid-img div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .circle-big,
  .circle-md {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    position: relative !important;
  }

  .circle-md:nth-child(1) {
    top: 0;
    right: 0;
  }
  .circle-md:nth-child(2) {
    top: 0;
    left: 0;
  }

  .circle-md:nth-child(3) {
    top: 0;
    left: 0;
  }
  .circle-big:nth-child(1) {
    top: 0 !important;
    left: 0% !important;
  }
  .circle-big:nth-child(2) {
    top: 0;
    right: 0;
  }

  .right-grid .circle-md:nth-child(1) {
    top: 0;
    left: 0;
  }
  .right-grid .circle-md:nth-child(2) {
    top: 0;
    left: 0;
    right: 2rem;
  }

  .right-grid .circle-md:nth-child(3) {
    top: 0;
    left: 0;
    right: 0;
  }
  /* Right Big  */
  .right-grid .circle-big:nth-child(1) {
    top: 0 !important;
    left: 0 !important;
  }
  .right-grid .circle-big:nth-child(2) {
    top: 0;
    left: 0;
  }

  /* news and event  */
  section#news-events {
    padding-right: 0;
    padding: 80px !important;
  }
  .event {
    width: 100% !important;
  }
  .news-card {
    height: auto;
  }

  .news-card .news-card-img {
    position: relative;
    min-height: 300px;
  }
  .news-card .card-content {
    position: relative;
  }

  .block-sec {
    max-height: 350px;
  }

  .two-sec .part-desc-right .row {
    display: none;
  }
  .two-sec .part-desc-right p {
    padding: 5rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 765px) {
  .i-grid-row > .grid-img > div:last-child {
    display: none;
  }
  .carousel-item .banner,
  .carousel .carousel-inner {
    height: 95vh !important;
  }
  .carousel-item .carousel-caption {
    padding: 0;
    padding-left: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .two-sec-p .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .two-sec-p .part-desc {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .two-sec-p .part-desc button {
    margin-bottom: 16px;
  }
  .block-sec {
    max-height: 240px;
  }
  section#news-events {
    padding: 5rem 2rem !important;
  }
  footer .wrapper .widget_address_block ul {
    flex-direction: column;
  }
}
@media screen and (max-width: 505px) {
  .carousel-item .carousel-caption {
    align-items: center;
  }
  .carousel-caption h5 {
    text-align: center;
    max-width: 100%;
  }
  .i-grid-row .grid-img div:last-child {
    display: none;
  }
  .block-sec {
    max-height: 150px;
  }
  #news-events .row .col-md-12 {
    padding: 0;
  }
  .carousel .carousel-control-prev {
    right: 0 !important;
    left: 20%;
  }
  .carousel .carousel-control-next {
    right: 20% !important;
  }
  .two-sec-p .part-desc {
    text-align: center;
  }
}

.text-brand {
  color: var(--dblue);
}
.text-pink {
  color: var(--pink);
}

.text-yellow {
  color: var(--yellow);
}

.bg-pink {
  background: var(--pink) !important;
}

.bg-yellow {
  background: var(--yellow) !important;
}
