:root {
  --sectionMargin: 100px auto;
  --sectionWidth: 90%;
  --heading: rgba(0, 0, 0, 0.8);
  --content: rgba(0, 0, 0, 0.7);
  --bopac: rgba(50, 47, 126, 0.1);
  --popac: rgba(235, 12, 119, 0.1);
}
body {
  background: #fff;
}

section#about-header {
  position: relative;
  width: 100%;
  height: auto;
  margin: var(--sectionMargin);
  /* padding: 2rem 5rem !important; */

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  /* background: var(--pink); */
}
.imgg {
  width: 100%;
  height: auto;
}
#about-header .sec-cont {
  position: relative;
  width: 90%;
  margin: auto;
  height: 85vh;
}
#about-header .img1 {
  position: absolute;
  top: -5rem;
  left: -17rem;
  width: 55rem;
  height: 50rem;
}
.img2 {
  position: absolute;
  top: 0;
  right: -10rem;
  width: 30rem;
  height: 30rem;
}

#about-header .abt-content {
  padding-right: 2rem;
}
#about-header h1 {
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--heading);
}

#about-header h1 .text-1 {
  color: var(--dblue);
}

#about-header h1 .text-2 {
  color: var(--pink);
}
/* 
#about-header h1::before {
  content: "";
  position: absolute;
  top: -2%;
  left: 1.5%;
  width: 15%;
  height: 10px;
  border-radius: 30px;
  background: var(--dblue);
} */

#about-header p {
  text-align: justify;
  color: var(--content);
  font-weight: bold;
}

.abt-princi-img {
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

.left-list {
  width: 100%;
  height: 90%;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-list ul {
  list-style-type: none;
  padding-top: 3rem;
}
.left-list ul li {
  color: #fff;
  padding-bottom: 1.5rem;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  /* background-color: red; */
  margin-bottom: 5rem;
}

.left-list ul li::after {
  content: url(../images/pages/about-page/headStick.png);
  position: absolute;
  bottom: 0;
  left: -43%;
  width: 130%;
  height: 50px;
  color: #fff;
}
.left-list ul li:nth-child(4)::after {
  left: -42%;
}
.left-list ul li:nth-child(1),
.left-list ul li:nth-child(4) {
  /* position: relative; */
  left: -30%;
}

section#why-us {
  width: 100%;
  height: auto;
  margin: 4rem 0;
  /* background: pink; */
}
#why h1 {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: var(--dblue);
}

#why p {
  font-size: 16px;
  text-align: justify;
}
.left-why {
  /* background-color: pink; */
  position: relative;
  width: 100%;
  /* height: 100%; */
}
.left-why img {
  position: absolute;
  /* top: 10%; */
  right: 20px;
  z-index: -1;
  width: 100%;
  height: 95%;
  /* background: red; */
}
.left-card {
  position: absolute;
  top: 0;
  left: 5rem;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 7rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: 5;
}
.lc-head {
  font-size: 14px;
  font-weight: bold;
  color: var(--dblue);
}
.lc-cont p {
  font-size: 12px !important;
  line-height: 17px;
}
.left-card:nth-child(2) {
  top: 70% !important;
}

.left-card-right {
  position: absolute;
  top: 35%;
  right: 0 !important;

  /* background-color: red; */

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  height: 7rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  z-index: 5;
}

/* banner    */
#edu-banner {
  width: 100%;
  height: 80vh;
  background-color: red;
}
.banner-bg {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Parallax  */
#parallax {
  width: 100%;
  height: 600px;
  margin: 4rem 0;

  position: relative;
}

#parallax .parallax-bg {
  width: 100%;
  height: 100%;

  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
}
.parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(50, 47, 126, 50%);
}

.parallax-cont {
  position: absolute;
  left: 8rem;
  bottom: 3rem;
  color: #fff;
}
.parallax-cont h1,
.parallax-cont h2 {
  color: #fff;
  font-weight: 500;
}

/* Genres */
section#genres {
  /* background: red; */
  /* width: var(--sectionWidth); */
  width: 100%;
  margin: var(--sectionMargin);
}

/* section service  */
#genres header .genre-service {
  width: 90%;
  height: auto;
  margin: auto;
}

.ab-stick {
  display: table;
  margin: auto;
  color: var(--purple);
  font-weight: bold;
}
.ab-stick::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -120px;
  width: 100px;
  height: 5px;
  background: var(--pink);
  /* border-radius: 30px; */
}
.ab-stick::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -120px;
  width: 100px;
  height: 5px;
  background: var(--pink);
  /* border-radius: 30px; */
}

/* section montessori   */
.mont {
  width: 100%;
  height: 80vh;
  margin: var(--sectionMargin);
  /* background: pink; */
  position: relative;
  /* padding-left: 5rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mon-wrapper {
  position: absolute;
  left: 0;
  top: 0;

  width: 30%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mon-wrapper-right {
  position: absolute;
  right: 0;
  top: 0;

  width: 30%;
  height: 100%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.mon-content {
  flex-basis: 35%;
}
.mon-content h2 {
  font-weight: bold;
}
.mon-content p {
  text-align: justify;
}
.mon-img-content {
  flex-basis: 60%;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mont-img {
  position: relative;
  width: 90%;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

/* .curri h2,
.mont h2,
.secondary h2 {
  margin-top: 2rem;
} */

/* mission vision  */
section#mission-vision {
  /* width: var(--sectionWidth); */
  width: 100%;
  margin: var(--sectionMargin);
  /* background: pink; */
  height: auto;
}

#mission-vision h1 {
  font-weight: bold;
}

#mission-vision h1::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 15%;
  height: 10px;
  border-radius: 30px;
  background-color: var(--pink);
}
.mission-row {
  width: 100%;
  height: 100vh;
}
.left-mission {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.miss-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}
.pink {
  width: 50px;
  height: 100%;
  background: rgba(235, 12, 119, 0.5);
}
.lpink {
  width: 50px;
  height: 100%;
  background: rgba(235, 12, 119, 0.1);
}
.right-mission {
  width: 100%;
  height: 100%;
}
.mv-list {
  display: flex;
  flex-direction: column;
}
.mv-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mission-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 10px solid #fff;
  background: var(--dblue);

  display: flex;
  justify-content: center;
  align-items: center;
}
.micon {
  width: 40%;
  height: 60%;
}

.mv-item:nth-child(2) .mission-icon .micon {
  width: 50%;
  height: 60%;
}

.mv-item:nth-child(3) .mission-icon .micon {
  width: 50%;
  height: 50%;
}

.mission-content {
  width: 25rem;
  height: auto;
}
.mission-content h3 {
  font-weight: bold;
}
.change-margin {
  margin-left: -5rem;
}

/* history section  */
#history {
  width: var(--sectionWidth);
  margin: var(--sectionMargin);
}
#history h2 {
  font-weight: bold;
  position: relative;
  margin-left: 10rem;
}

#history h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translateY(-50%);
  width: 8rem;
  height: 10px;
  background: var(--dblue);
}
.history-row {
  width: 100%;
  height: auto;
}
.hiss-img {
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}
.his-highlight {
  background: rgba(245, 132, 32, 0.2);
  padding: 2rem 3rem;
  font-weight: 500;
}
